.wrapper {
  padding: 70px 20px;
  background: linear-gradient(135deg,#f8fafc,#eef2f7);

  display: flex;
  flex-direction: column;
  align-items: center;
}

.title {
  font-size: clamp(28px,4vw,40px);
  font-weight: 800;
  margin-bottom: 30px;
  color: #0f172a;
}

.container {
  max-width: 900px;
  line-height: 1.9;
}

.text {
  color: #334155;
  font-size: 17px;
  white-space: pre-line;
}